
.left-side-bar{
    height: 100vh;
    width: 12vw;
    background-color: #181818;
    box-shadow: 0 0px 8px 0 grey;
}

.nav-item{
    display: flex;
    align-items: center;
}
.nav-item:hover{
   background-color: grey;
}

.social-icon{
    margin-left: 6px;
    margin-right: 6px;
    color: #838383;
}
.social-icon:hover{
    color: #08FDD8;
}